
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Admin Girişi</title>
</head>
<body>
    @*<form method="post">
        @Html.Label("Email")
        @Html.TextBox("Email")
        <br />
        @Html.Label("Pasword")
        @Html.Password("Password")
        <br />
        <button type="submit">Login</button>
    </form>*@
    <div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-4">
                <div class="card">
                    <div class="card-body">
                        <form action="" autocomplete="on" method="post">
                            <div class="form-group">
                                <label>Admin Giriş</label>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="Email" placeholder="Admin Email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" name="Password" placeholder="Password">
                            </div>
                            <button type="submit" class="btn btn-primary">login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
